body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    background-color: #1a1a2e;
    color: #e0e0e0;
}
body {
    display: flex;
}


.swal2-html-container{
    padding: 0px !important;
    overflow: unset !important;
}

#sidebar {
    width: 280px;
    background-color: #16213e;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    z-index: 10;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    --sb-track-color: #656565;
    --sb-thumb-color: #394eab;
    --sb-size: 5px;
    overflow-y: auto;

}

#sidebar::-webkit-scrollbar {
    width: var(--sb-size);
}

#sidebar::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 7px;
}

#sidebar::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 7px;
}

@supports not selector(::-webkit-scrollbar) {
    #sidebar {
        scrollbar-color: var(--sb-thumb-color)
        var(--sb-track-color);
    }
}



#canvas-container {
    flex-grow: 1;
    position: relative;
    overflow: hidden;
    background-color: #0f3460;
}
#mapCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.logo {
    font-size: 24px;
    font-weight: 600;
    color: #4cc9f0;
    margin-bottom: 30px;
    text-align: center;
}
.controls {
    background-color: #1f4068;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
}
.controls h2 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #e0e0e0;
}
button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #4cc9f0;
    color: #16213e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    font-size: 14px;
    font-weight: 500;
}
button:hover {
    background-color: #5edfff;
}
button:active {
    transform: translateY(1px);
}
.status {
    margin-top: auto;
    font-size: 14px;
    color: #a0a0a0;
}
#coordinates {
    margin-top: 10px;
    font-weight: 600;
    color: #4cc9f0;
}
.legend {
    background-color: #1f4068;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
}
.legend h2 {
    font-size: 16px;
    margin-bottom: 15px;
    color: #e0e0e0;
}
.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 3px;
    border: 1px solid black;
}
.legend-label {
    font-size: 14px;
}

#mobile-buttons {
    display: none;
}

#joystickBtn {
    display: none;
}

.joystick-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px
}

.joystick-container-mobile {
    display: none;
    justify-content: space-between;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 10px;
    margin-left: 10px;
    justify-content: space-evenly;
}

.icon-button {
    background-color: #102a4d; /* Azul oscuro del entorno */
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: #00cfff; /* Color similar al botón central */
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    transition: background-color 0.3s, transform 0.2s ease-out;
     outline: none;
     -webkit-tap-highlight-color: transparent;
     user-select: none;
}

.icon-button:focus, 
.icon-button:active {
    outline: none;
    box-shadow: none;
    background-color: #154e7e;
    transform: scale(1);
}

.icon-button:hover {
    background-color: #154e7e;
    transform: scale(1.1);
}

.icon-button:focus-visible {
    outline: none;
    box-shadow: none;
    background-color: #102a4d;
}

@media (max-width: 868px) {
    
    .logo, .controls {
        display: none;
    }
    .joystick-container {
        display: none;
        margin-top: 0px;
    }
    .joystick-container-mobile {
        display: flex;
        margin-top: 0px;
    }
    #sidebar {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 0px;
        margin: 0px,
    }
    .legend {
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #1f406869;
        margin-top: 0px;
        z-index: 999;
        box-shadow: 1px 1px 13px 0px rgb(0 0 0 / 12%);
    }
    .legend > h2 {
        font-size: 12px
    }
    .legend-label {
        font-size: 10px
    }
    .legend-color {
        width: 10px;
        height: 10px
    }

    .status {
        position: fixed;
        top: 0px;
        right: 0px;
        font-size: 10px;
        margin-top: 10px;
        margin-right: 10px;
        z-index: 999;
    }

    /*  */
    /* #joyDiv{ */
    /*     display: none; */
    /* } */
    /*  */
    /*  */
    /* #joystickBtn { */
    /*     display: block; */
    /* } */
    /* #title, .logo { */
    /*     display: none; */
    /* } */
    /*  */
    /*  */
    /* #joystick { */
    /*     display: block; */
    /* } */
    /* .controls { */
    /*     display: flex; */
    /*     margin: 5px; */
    /*     padding: 5px; */
    /*     width: 100%; */
    /* } */
    /* .controls > button{ */
    /*     flex-grow: 1; */
    /*     margin: 5px; */
    /* } */
    /*  */
    
    
    /*  */
    /* #zoomInBtn{ */
    /*     display: none; */
    /* } */
    /* #zoomOutBtn{ */
    /*     display: none; */
    /* } */
    /*  */
    body {
        flex-direction: column-reverse;
    }
}
